# Created by Vercel CLI
CONTENTFUL_API_KEY=""
CONTENTFUL_APPLICATION_DATA_ID=""
CONTENTFUL_BASE_URL=""
CONTENTFUL_ENVIRONMENT_ID="development"
CONTENTFUL_EXPERIENCE_PAGE_KEY=""
CONTENTFUL_HOME_PAGE_KEY=""
CONTENTFUL_PAGES_KEY=""
CONTENTFUL_PROJECTS_PAGE_KEY=""
CONTENTFUL_SKILLS_PAGE_KEY=""
CONTENTFUL_SPACE_ID=""
STARTING_URL="http://localhost:3000"
VERCEL_OIDC_TOKEN=""
