@import "tailwindcss";
@import "aos/dist/aos.css";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake, dracula, night;
}

@utility scrollbar-hide {
  &::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
}
